<section id="secao-editar">
    <form action="" class="form-editar">
            <img 
                [src]=" funcionario?.foto || 'https://i.pinimg.com/originals/5a/72/e1/5a72e1f05f9e2e1b76a8438a7490dc3b.jpg'" 
                alt="Imagem de perfil do funcionário"
                class="imagem-funcionario-editar"
            >
            <div class="div-icon-editar">
                <mat-icon (click)="selectImage()" class="icon-editar-imagem">camera_alt</mat-icon>
            </div>
            <input type="file" id="file-input-editar"  #fileInput accept="image/*"> 
        <mat-form-field class="campo-editar" appearance="outline">
            <mat-label>
                Nome
            </mat-label>
            <input matInput [value]="funcionario?.nome">
        </mat-form-field>
        <mat-form-field class="campo-editar" appearance="outline">
            <mat-label>
                Email
            </mat-label>
            <input matInput [value]="funcionario?.email">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" style="margin-top: 10px;">
            Editar
        </button>
    </form>
</section>
